<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    [cdkDropListData]="widgets"
    id="widget-space"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngFor="let widget of widgets; trackBy: trackByFunction">
      <div
        class="example-box"
        mwlResizable
        [enableGhostResize]="true"
        [resizeCursorPrecision]="10"
        [resizeEdges]="{ bottom: true, right: true, top: true, left: true }"
        (resizeEnd)="onResizeEnd($event, widget)"
        [ngStyle]="canvasStyle(widget)"
      >
        {{ widget.id }}
      </div>
    </ng-container>
  </div>
</div>
